<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="edit-item" class="container">
        <form action="/edit/<%= item.id %>" method="post">
            <input type="text" name="newItem" id="" value="<%= item.name %>">
            <input type="submit" value="Update Item">
        </form>
    </main>
<%- include('partials/footer') %>