<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="items" class="container">
        <p id="heading"><span>ID</span> Item</p>
        <% items.forEach(item => { %>
            <div class="item">
                <p><span class="item-id"><%= item.id %></span> <%= item.name %></p>
                <div class="btns">
                    <a href="" class="edit-btn">Edit</a>
                </div>
            </div>
        <% }) %>
    </main>
<%- include('partials/footer') %>